---
title: Contact
permalink: contact/
---
{% include head.html %}

<h1>Contact Me</h1>
<p>
	The best way to get in touch with me is to <a href="mailto:cameron@moon.net.au">email me</a>. You can also find me on <a href="https://facebook.com/cameron.moon">Facebook</a>, <a href="https://plus.google.com/104968300566226890906">Google+</a>, or <a href="https://twitter.com/cmrn">Twitter</a>. If you want to find out more about me, you can look at my code on <a href="https://github.com/cmrn">GitHub</a>, or view my profile on <a href="http://linkedin.com/in/cameronmoon">LinkedIn</a>.
</p>

{% include foot.html %}