---
permalink: /
---
{% include head.html %}

<div class="jumbotron">
<h1>Hi, I'm Cameron.</h1>
<p class="lead">I'm a software engineer and web developer. I make things like Android applications, websites, and <a href="/projects">lots more</a>. If you like what I do or want to work with me on something, <a href="/contact">get in touch</a>.</p>
</div>

<hr>

<div class="row">
	<div class="col-sm-9">
		<h2>My Recent Projects</h2>
		{% for post in site.categories.projects limit:2 %}
			<h4 class="media-heading"><a href="{{ post.url }}">{{ post.title }}</a></h4>
			<div class="media">
				<img class="media-object pull-right thumbnail" src="/thumbs/{{ post.thumbnail }}">
				<div class="media-body">
					{{ post.excerpt | markdownify }}
				</div>
			</div>
		{% endfor %}
		<p><a href="/projects">More projects <i class="icon-double-angle-right"></i></a></p>
	</div>

	<div class="col-sm-3" id="find-me">
		<h2>Find Me</h2>
		<div class="list-group">
			<a class="list-group-item" href="mailto:cameron@moon.net.au"><i class="icon-envelope icon-fixed-width"></i>Email</a>
			<a class="list-group-item" href="http://facebook.com/cameron.moon"><i class="icon-facebook icon-fixed-width"></i>Facebook</a>
			<a class="list-group-item" href="https://github.com/cmrn"><i class="icon-github icon-fixed-width"></i>GitHub</a>
			<a class="list-group-item" href="https://plus.google.com/104968300566226890906/"><i class="icon-google-plus icon-fixed-width"></i>Google+</a>
			<a class="list-group-item" href="https://keybase.io/cmrn"><i class="icon-key icon-fixed-width"></i>Keybase</a>
			<a class="list-group-item" href="http://linkedin.com/in/cameronmoon"><i class="icon-linkedin icon-fixed-width"></i>LinkedIn</a>
			<a class="list-group-item" href="https://twitter.com/cmrn"><i class="icon-twitter icon-fixed-width"></i>Twitter</a>
		</div>
	</div>
</div>

{% include foot.html %}