---
title: Projects
permalink: projects/
---
{% include head.html %}

<h1>My Projects</h1>
{% for post in site.categories.projects %}
	<div class="media">
		<div class="media-body">
            <h4 class="media-heading">
                <a href="{% if post.remote %}{{ post.remote }}{% else %}{{ post.url }}{% endif %}">
                    {{ post.title }}
                </a>
            </h4>
			{{ post.excerpt | markdownify }}
		</div>
        <div class="media-right">
            <img class="thumbnail" src="/thumbs/{{ post.thumbnail }}">
        </div>
	</div>
{% endfor %}

{% include foot.html %}