<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Cameron Moon</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <meta name="description" content=""> -->
	<meta name="author" content="Cameron Moon">

	<link href='http://fonts.googleapis.com/css?family=Arvo|Open+Sans:400italic,700italic,700,400' rel='stylesheet' type='text/css'>
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/fontawesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
<div class="container-narrow">

<div class="masthead">
<ul class="nav nav-pills pull-right">
	<li{% if page.url == "/" %} class="active"{% endif %}><a href="/">Home</a></li>
	<li{% if page.url contains "/projects/" %} class="active"{% endif %}><a href="/projects">Projects</a></li>
	<li{% if page.url == "/contact/" %} class="active"{% endif %}><a href="/contact">Contact</a></li>
</ul>
<h3><a class="muted" href="/">Cameron Moon</a></h3>
</div>
<hr>